PORT=5000

MONGO_URI=mongodb://root:your_password_here@cluster0-shard-00-00.jzkjap.mongodb.net:27017,cluster0-shard-00-01.jzkjap.mongodb.net:27017,cluster0-shard-00-02.jzkjap.mongodb.net:27017/studentdashboard?ssl=true&replicaSet=atlas-uf81ge-shard-0&authSource=admin&appName=Cluster0